**/*__pycache__*/
**/.env
**/*.log
**/*.logs
**/.firebaserc
**/*ignore*/
/docker-build.ps1
# /ignore-notes.md
# /ignore.bash
/venv-linux
/venv-windows
**/client_secret.json
**/service-account.json
**/firebase.json
/scripts/
**/*.spec
# /ignore/zammad_old.py
/ticketing/tmp/